dist: trusty
sudo: required

language:
  - groovy
  - python

before_install:
  - sudo pip install pandas
  - sudo pip install biopython
  
script:
  - cd src/ 
  - travis_wait groovy -cp . BuildDatabase.groovy
